@import '../../../../Utilities/_variables';

.topbar-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 0;
    background-color: rgba(255, 255, 255, 0);

    width: 100%;
    margin-left: -95%;
    transition: background-color 0.6s, margin-left 1.4s !important;
    .topbar-icon{
        font-family: "Montserrat";
        font-size: 25px;
        color: $light;
        font-weight: 700;
        transition: color 0.1s;

    }
}
.topbar-wrapper-activated{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 0;
    background-color: $light;
    width: 100%;
    transition: background-color 1s, margin-left 1.2s !important;
    margin-left: 0;
    box-shadow: 0px 1px 3px 0.1px rgba(42, 42, 114, 0.418);
    .topbar-icon{
    padding-right: 15px;
    font-family: "Montserrat";
    font-size: 25px;
    color: $dark;
    transition: color 0.2s;
    font-weight: 700;


}
}

