@import '../../../../Utilities/_variables';

.topbar-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 0;
    background-color: $light1;
    box-shadow: $shadow1;
    width: 100%;
    margin-left: -94%;
    transition: background-color 0.6s, margin-left 1.4s !important;
    .topbar-icon{
        padding-right: 5px;
        font-family: "Montserrat";
        font-size: 25px;
        color: $dark;
        font-weight: 700;
        transition: color 0.1s;

    }
}
.topbar-wrapper-activated{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 200;
    top: 0;
    background-color: $light1;
    width: 100%;
    transition: background-color 1s, margin-left 1.2s !important;
    margin-left: 0;
    box-shadow: $shadow1;
    .topbar-icon{
    padding-right: 15px;
    font-family: "Montserrat";
    font-size: 25px;
    color: $dark;
    transition: color 0.2s;
    font-weight: 700;


}
}

