@import '../../../../../../../Utilities/_variables.scss';
.advantage-wrapper{
    background-color: $light;
    border-radius: 0.3em;
    height: 250px;
    display: grid;
    box-shadow: $shadow;
    margin: 0 35px;
    width: 270px;
    grid-template-rows: 170px 40px 40px;
}

.advantage-icon{
    display: flex;
    justify-content: center;

    margin: 45px;
    align-content: center;
}

.advantage-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5em;
    color: $dark;
}

.advantage-subtitle{
    font-family: 'Montserrat';
    color: black;
    font-weight: 300;
    font-size: 1em;
    @media(max-width: 768px){
        font-size: 0.8em;
    }
}