@import '../../../../../../../Utilities/_variables.scss';
.advantage-wrapper{
    background-color: $light;
    border-radius: 0.3em;
    height: 230px;
    display: grid;
    box-shadow: $shadow;
    margin: 0 35px;
    grid-template-rows: 110px 50px 100px;
}

.advantage-icon{
    .MuiSvgIcon-root{
        height: 3.7em;
        width: 100%;
    }
}

.advantage-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5em;
    color: $light;
}

.advantage-subtitle{
    font-family: 'Montserrat';
    color: black;
    font-weight: 300;
    font-size: 1em;
    @media(max-width: 768px){
        font-size: 0.8em;
    }
}