@import '../../../../../../../Utilities/_variables.scss';
.advantage-wrapper{
    height: 300px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 110px 50px 100px;
}

.advantage-icon{
    .MuiSvgIcon-root{
        height: 3.7em;
        width: 100%;
    }
}

.advantage-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.8em;
    color: $light;
}

.advantage-subtitle{
    font-family: 'Montserrat';
    color: black;
    font-weight: 300;
    font-size: 1.2em;
    @media(max-width: 768px){
        font-size: 1em;
    }
}