@import '../../Utilities/variables.scss';

.home-wrapper{
min-height: 100vh;
}


$ani-speed: 1.5s;
$ani-delay: 1.5s;

body {
    background: $dark;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}
.arrows-content{
  width: 200px !important;
  height: 100px !important;
  margin-top: 85vh;
  opacity: 1;
  transition: all 300ms;
  cursor: pointer;
}

.arrow {

    opacity: 0;
    position: absolute;
        left: 50vw;
        top: 97%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -10%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: $green;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
        top: 0%;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(35deg) translateX(-32%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-35deg) translateX(32%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 93%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;


  }

  html {
    overflow-x: hidden;
  }

  body {


    display: table;
    width: 100%;

    background-color: $light;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;

  }

  .lines {
    overflow-x: hidden;


    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    margin: auto;
    width: 100vw;
  }
  .lines .line {
    position: absolute;
    width: 1px;
    height: 150%;
    top: 0;
    left: 50%;
    background: #2238433d;
    overflow: hidden;
  }
  .lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 7s 0s infinite;
            animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.9, 0, 0.97);
            animation-timing-function: cubic-bezier(0.5, 0.9, 0, 0.97);
  }
  .lines .line:nth-child(1) {
      transform: skew(-3deg);
    margin-left: -45%;
  }
  .lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .lines .line:nth-child(3) {
    transform: skew(25deg);
    margin-left: -20%;
  }
  .lines .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  .lines .line:nth-child(2) {
    transform: skew(-30deg);
    margin-left: -35%;
  }
  .lines .line:nth-child(2)::after {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
  }
  .lines .line:nth-child(4) {
    transform: skew(30deg);
    margin-left: 20%;
  }
  .lines .line:nth-child(4)::after {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .lines .line:nth-child(12) {
    transform: skew(30deg);
    margin-left: 20%;
  }
  .lines .line:nth-child(12)::after {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .lines .line:nth-child(5) {
    transform: skew(10deg);
    margin-left: 30%;
  }
  .lines .line:nth-child(5)::after {
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
  }
  .lines .line:nth-child(6) {
    transform: skew(-3deg);
    margin-left: 45%;
  }
  .lines .line:nth-child(6)::after {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .lines .line:nth-child(7) {
    transform: skew(70deg);
    margin-left: 70%;
  }
  .lines .line:nth-child(7)::after {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .lines .line:nth-child(9) {
    transform: skew(70deg);
    margin-left: 70%;
  }
  .lines .line:nth-child(9)::after {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  .lines .line:nth-child(10) {
    transform: skew(-14deg);
    margin-left: 20%;
  }
  .lines .line:nth-child(10)::after {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .lines .line:nth-child(11) {
    transform: skew(-14deg);
    margin-left: 20%;
  }
  .lines .line:nth-child(11)::after {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .lines .line:nth-child(8) {
    transform: skew(-7deg);
    margin-left: 0%;
  }
  .lines .line:nth-child(8)::after {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  @-webkit-keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  @keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }









// @media (max-width: 600px)
//   .wrapper
//     padding: 0 10%
