@import '../../../../Utilities/_variables.scss';

.content-wrapper{
    border-top: 2px $light;
    position: relative;
    min-height: 100vh;
}
.content-top{


}
.content-mid{

    .content-span{
        height: 55vh;
    }
    .content-mid-top{
        display: grid;
        grid-template-columns: 3fr 2.5fr;
        background-image: url("../../../../media/whiteb.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: baseline;
    }
    .content-mid-mid{
        background-color: $light;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .content-span-gallery{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;

    }
    .content-span-photo{
        border-radius: 0.2em;
        height: 60%;
        width: 40%;
        background-image: url('../../../../media/Profile.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: -11px 10px 1.5px 0px rgba(77, 76, 76, 0.541);


    }
    .content-span-text{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewX(0deg);
    }
    .content-divider-vertical{
            height: 50%;
            width: 10px;
            background-color: $red;
            z-index: 20;



        }
    .content-text{
        transform: skewX(0deg);
        height: 80%;
        width: 50%;
        justify-content: center;
        .content-divider-text{
            font-family: 'Montserrat';
            font-weight: 700;
            color: $light;
            font-size: 30px;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 10%;
        }
    }
    .content-divider-horizontal{
        margin-left: 55%;
        height: 1px;
        width: 200%;
        background-color: $red;

    }
}