@import '../../../../Utilities/_variables.scss';

.content-wrapper{
    border-top: 2px $light;
    position: relative;
    min-height: 100vh;

}
.content-top{
height: 100vh;

}
.content-mid{

    .content-span{
        height: 50vh;
    }
    .content-mid-top{






    }
    .content-span-background{
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 2.5fr;

    }
    .content-mid-mid{
        padding: 0 4%;
        width: 100%;
        height: 50vh;
        background-color: white;
        @media(max-width: 768px){
            height: 100vh;
        }

    }
    .content-divider-split{
        display: flex;
        align-self: center;
        width: 3px;
        height: 70%;
        background-color: $green;
    }
    .content-span-gallery{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;

    }
    .content-span-photo{
        border-radius: 0.2em;
        height: 60%;
        width: 40%;
        background-image: url('../../../../media/Profile.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: -11px 10px 1.5px 0px rgba(77, 76, 76, 0.541);


    }
    .content-mid-mid{
        border-radius: 2px;
        display: grid;
        grid-template-rows: 1fr 1fr;

    }
    .float-cards-text{
        width: 80%;
    }
    .content-span-text{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .content-divider-vertical{
            height: 60%;
            width: 10px;
            background-color: $red;
            z-index: 20;



        }
    .content-text{
        transform: skewX(0deg);
        height: 80%;
        width: 70%;
        justify-content: center;
        .content-divider-text{
            font-family: 'Montserrat';
            font-weight: 700;
            color: $light;
            font-size: 30px;
            height: 100%;
            display: flex;
            text-shadow: 0.5px 1px 0.3px rgba(255, 255, 255, 0.415);
            align-items: center;
            padding-left: 10%;
            text-align: left;
        }
    }
    .content-divider-horizontal{
        margin-left: 30%;
        height: 3px;
        width: 200%;
        background-color: $red;

    }
    .content-bottom-title{
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Montserrat';
        text-align: right;
        padding-right: 5%;

    }
    .content-bottom{
        border-left: 2px solid $light;
        border-right: 2px solid $light;
        height: 90vh;
        margin: 5% 5%;
    }
    .content-bottom-title{
        height: 15vh;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        .stack{
            padding-top: 7px;
            padding-left: 10px;
            display: flex;
            font-size: 12px;
            align-content: flex-end !important;
        }
    }
}