@import '../../../../Utilities/_variables.scss';

.content-wrapper{
    border-top: 2px $light;
    position: relative;
    min-height: 100vh;

}
.content-top{
height: 100vh;


}
.content-mid{

    .content-span{
        height: 50vh;
    }
    .content-span-background{
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 2.5fr;

    }
    .content-mid-mid{
        padding: 0 4%;
        width: 90%;
        height: 50vh;
        margin: 0 auto;
        @media(max-width: 768px){
            height: 100vh;
        }
    }
    .content-divider-split{
        display: flex;
        align-self: center;
        width: 3px;
        height: 70%;
        background-color: $green;
    }
    .content-span-gallery{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;

    }
    .content-span-photo{
        border-radius: 0.2em;
        height: 60%;
        width: 40%;
        background-image: url('../../../../media/Profile.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: -11px 10px 1.5px 0px rgba(77, 76, 76, 0.541);


    }
    .content-mid-mid{
        border-radius: 2px;
        display: grid;
        grid-template-rows: 1fr 1fr;

    }
    .float-cards-text{
        width: 80%;
    }
    .content-span-text{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .content-text{
        padding-top: 10%;
        height: 100%;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        .content-divider-text{
            font-family: 'Montserrat';
            font-weight: 200;
            color: $dark;
            font-size: 20px;
            width: 60%;
            display: grid;
            text-align: left;
            grid-template-rows: 1fr 2fr;
            text-shadow: 0.5px 1px 0.3px rgba(255, 255, 255, 0.415);
            align-items: center;
            .content-divider-title{
                font-weight: 700;
                font-size: 23px;
            }

        }
    }
    .content-bottom-title{
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Montserrat';
        text-align: right;
        padding-right: 5%;

    }
    .content-bottom{
        height: 90vh;
        margin: 2% 3.5%;
        background-color: white;
    }
    .content-bottom-title{
        height: 15vh;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        .stack{
            padding-top: 7px;
            padding-left: 10px;
            display: flex;
            font-size: 12px;
            align-content: flex-end !important;
        }
    }
}