@import '../../../../../../Utilities/_variables.scss';

.floatcards-wrapper{
    margin: 0 auto;
    overflow: hidden;
    width: 80%;


    ul{
        height: 101vh;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    div{
        z-index: 20;
        margin-bottom: -5px;
        display: inline-block;
        width: 25%;
        height: 25%;
        .images{
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
        }
        .image1{
            background-image: url("../../../../../../media/Python.jpg.png");
        }
        .image2{
            background-image: url("../../../../../../media/Guitar-min.jpg");
        }
        .image3{
            background-image: url("../../../../../../media/JS.png");
        }
        .image4{
            background-image: url("../../../../../../media/Prod.jpg.png");
        }

    }
    .float-cards-text{
        padding-bottom: 10px;
        color: white;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        justify-content: center;
        background-color: rgba(2, 43, 58, 0);
        transition: background-color 1.5s;
    }
    .float-cards-text-active{

        padding-bottom: 10px;
        color: white;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        justify-content: center;
        background-color: $dark;
        transition: background-color 1s;


    }

}