@import '../../../../../../Utilities/_variables.scss';

.floatcards-wrapper{

    overflow: hidden;
    width: 100%;

    height: 100vh;

    .cards-wrapper{
        display: flex;
        flex: 4;
        width: 90%;
        margin: 0 auto;
    }

    .floated-card{
        margin: auto;
        margin: 8px;
        border-radius: 0.3em;
        z-index: 20;
        display: flex;
        flex: 1;
        height: 27.5vh;
        width: 100%;
        .images{
            .hover{
                transition: all 300ms;
                height: 27.5vh;
                width: 100%;
            }

            border-radius: 0.3em;
            box-shadow: 0px 0.5px 1px 1px #47497334;
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;

            .hover-title, .hover-text{
                visibility: hidden;

            }
            .common-button-wrapper{
                visibility: hidden;
            }
        }
        .images:hover{
            border-radius: 0.3em;
            transition: all 300ms;

            .hover{
                font-family: 'Montserrat';
                border-radius: 0.3em;
                display: grid;
                transition: all 300ms;
                height: 27.5vh;
                width: 100%;
                background-color: rgba(166, 156, 172, 0.918);
                grid-template-rows: 1fr 1fr 1fr;



            }
            .hover-title{
                transition: font-size 300ms;
                color: white;
                font-size: 20px;
                font-weight: 700;
                visibility: visible;
                margin: auto 7px;

            }
            .hover-text{margin: 4px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                visibility: visible;
                margin-top: auto;

            }
            .common-button-wrapper{
                transition: all 300ms;
                visibility: visible;
                margin: auto;
            }
        }

        .image0{
            background-image: url("../../../../../../media/Python.jpg.png");
        }
        .image1{
            background-image: url("../../../../../../media/Guitar-min.jpg");
        }
        .image2{
            background-image: url("../../../../../../media/JS.png");
        }
        .image3{
            background-image: url("../../../../../../media/Prod.jpg.png");
        }

    }
    .float-cards-text{
        padding-left: 15px;
        width: 100vw !important;
        color: white;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        background-color: rgba(2, 43, 58, 0);
        transition: background-color 1.5s;
    }
    .float-cards-text-active{
        padding-left: 15px;
        width: 100vw !important;
        padding-bottom: 10px;
        color: white;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        justify-items: center;
        background-color: $dark;
        transition: background-color 1s;


    }

}